movies/vendor/
movies/node_modules/
movies/npm-debug.log

# Laravel 4 specific
movies/bootstrap/compiled.php
movies/app/storage/

# Laravel 5 & Lumen specific
movies/public/storage
movies/public/hot
movies/storage/*.key
movies/.env.*.php
movies/.env.php
movies/.env
movies/Homestead.yaml
movies/Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
movies/.rocketeer/
